= link_to board_tasks_path(@board,task) do
  .card
    .card_content
      .card_title
        = @task.title
      .card_content
        = @task.content
      .card_detail
        = image_tag @board.user.avatar_image
        %div
    
    -# - if @board.eyecatch.attached?
    -#   .card_image
    -#     = image_tag board.eyecath
    -# .card_content
    -#   .card_title
    -#     = board.title
    -#   .card_content
    -#     = board.content
    -#   .card_detail
    -#     = image_tag board.user.avatar_image
    -#     %div