.card{
    position: relative;
width: 362px;
height: 161px;
left: 30px;
top: 16px;
margin-bottom: 10%;
background: rgb(141, 137, 137);
border-radius: 10px;

&_title{
position: absolute;
width: 100%;
height: 25px;
left: 0%;
right: 76.79%;
top: calc(50% - 25px/2 - 12.5px);

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
}

&_content{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 0%;
    top: calc(50% - 19px/2 + 15.5px);
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    
    color: #000000;
    
    mix-blend-mode: normal;
    opacity: 0.9;
}

 &_detail{
     position: absolute;
     right: 0%;
 }
}
.float_right{
    float: right;
    height: auto;
}
