.comment{
    
}


.comment_btn{
        position: fixed;
        position: relative;
        bottom: 0px;
        left: 8%;
        width: 340px;
        height: 60px;
        text-align: center;
        line-height: 56px;
        border-radius: 10px;
        border: 1px dashed rgba(0, 0, 0, 0.2);
        background-color:#ffff;
        box-shadow:0px 4px 10px rgba(0,0,0,0.25);
    
    
}
.task_comment{
border: 1px  rgba(0, 0, 0, 0.2);
background-color:#ffff;
float:right;
word-break: break-all;
width: 298px;
height: 57px;
left: 86px;
top: 677px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;
margin-right: 15px;

}
.task_detail{
    position: relative;
   
}