@import '_valiables';

input, select {
    &.text {
      
      width: 100%;
      margin: 8px 0px;
      padding: 16px 24px;
      border: 1px solid #EBEBEB;
      border-radius: 10px;
      
    }
  }
  label {
    font-size: 15px;
  }
  textarea {
    width: 100%;
    margin: 8px 0px;
    padding: 8px 8px;
    min-height: 440px;
    resize: vertical;
    border: 1px solid #EBEBEB;
  }

 .sign_logo{
     font-size: 26px;
         margin: 8% 0;
 }

 .submit{
    width: 100%;
    margin-top: 800px;
    padding: 16px 24px;
    border: 1px solid #EBEBEB;
     text-align: center;
     background-color: $submit-color;
     border-radius: 10px;
 }