.header_logos{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 30px;
    top: 17px;
    font-size: 18px;
    line-height: 25px;
}
.line{
    position: absolute;;
    width: 1920px;
    height:1px;
    top: 58px;
    left: 0%;
    opacity: 10%;
    background-color: black;
}